@import '../../assets/external-style.css';

:host {
    display:block;
    border: 3px solid red;
}

:host(.active) {
    border: 1px solid green;
}

:host-context(.theme-light) p {
    background-color: teal;
}

h3 {
    color: green;
}
